input[type="date"]:before {
  content: attr(placeholder) !important;
  color:rgb(133, 146, 158);
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}
#promo .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgb(255,255,255,0.75);
  margin: 0 auto;
  max-width: 800px;
}

@media (min-width: 768px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  #promo {
    padding: 20px;
  }
}

#poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.img-fluid{
  transition: all 1s;
}

.img-fluid:hover{
  transform:scale(1.05);
}

#btnScrollToTop{
  position:fixed;
  right:10px;
  bottom:10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0FEAFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  outline: none;
  cursor: pointer;
}
.typewrite{
  text-align: center;
  color:rgb(17, 16, 16);
  font-size: 20px;
  padding-top:5em;
  cursor: default;
  text-decoration: none;
}


html  {
  overflow-x: hidden;
  }